In [1]:
from bs4 import BeautifulSoup
import lxml

In [2]:
with open('indeed3.html','r') as html_file:
    temp = html_file.read()
    soup = BeautifulSoup(temp,'lxml')
    tags = soup.find_all('div',class_="job_seen_beacon")

In [3]:
ls1,ls2,ls3=[],[],[]

In [4]:
for i in tags:
    temp2 = i.h2.find_all('span')
    temp3 = i.find(class_='salary-snippet')
    temp4 = i.find(class_="companyName")
    if len(temp2)>1 :
        ls1.append(temp2[1].text)
        ls2.append(temp4.text)
    else:
        ls1.append(temp2[0].text)
        ls2.append(temp4.text)
    
    if temp3==None:
        ls3.append('not given')
    else:
        ls3.append(temp3.text)

In [5]:
ls1,ls2,ls3

(['Python Developer Intern',
  'Python/Django Developer',
  'Python Developer',
  'Python Developer',
  'Frontend and Backend Developer',
  'Python Developer',
  'Senior Python Developer',
  'Web Developer',
  'Engineer - Python (Crawling & Bots)',
  'Python Developer',
  'Python Developer',
  'Full Stack Developer',
  'Senior Software Developer, Trilogy (Remote) - $100,000/year...',
  'Full Stack Developer',
  'Backend Developer'],
 ['TekPillar Services',
  'SecureMetaSys Infotech Pvt. Ltd.',
  'Creative Solution',
  'TekPillar Services',
  'WRT Infotech',
  'Tekpillar',
  'TekPillar Services',
  'ARHAMSHARE CONSULTANTS PVT LTD',
  'Numerator',
  'TIGI HR SOLUTION',
  'Naman Staffing',
  'ANS IT INDIA PVT LTD',
  'Crossover',
  'Netizens Technologies',
  'Themes Brand'],
 ['â‚¹10,000 - â‚¹30,000 a month',
  'â‚¹15,000 - â‚¹50,000 a month',
  'â‚¹8,000 - â‚¹35,000 a month',
  'â‚¹10,000 - â‚¹45,000 a month',
  'â‚¹10,252 - â‚¹30,744 a month',
  'â‚¹10,000 - â‚¹30,000 a month',
  'â‚¹10,000 - â‚¹45,000 a month',
  'â‚¹10,000 - â‚¹50,000 a month',
  'not given',
  'â‚¹60,000 a month',
  'not given',
  'â‚¹15,000 - â‚¹20,000 a month',
  'not given',
  'â‚¹20,000 - â‚¹45,000 a month',
  'not given'])

In [6]:
dic1 = {'position name' : ls1,'company name':ls2,'salary':ls3}

In [7]:
import pandas as pd

In [8]:
df = pd.DataFrame(dic1)

In [9]:
df.to_csv("untitled4.csv")

In [10]:
df

,position name,company name,salary
0,Python Developer Intern,TekPillar Services,"â‚¹10,000 - â‚¹30,000 a month"
1,Python/Django Developer,SecureMetaSys Infotech Pvt. Ltd.,"â‚¹15,000 - â‚¹50,000 a month"
2,Python Developer,Creative Solution,"â‚¹8,000 - â‚¹35,000 a month"
3,Python Developer,TekPillar Services,"â‚¹10,000 - â‚¹45,000 a month"
4,Frontend and Backend Developer,WRT Infotech,"â‚¹10,252 - â‚¹30,744 a month"
5,Python Developer,Tekpillar,"â‚¹10,000 - â‚¹30,000 a month"
6,Senior Python Developer,TekPillar Services,"â‚¹10,000 - â‚¹45,000 a month"
7,Web Developer,ARHAMSHARE CONSULTANTS PVT LTD,"â‚¹10,000 - â‚¹50,000 a month"
8,Engineer - Python (Crawling & Bots),Numerator,not given
9,Python Developer,TIGI HR SOLUTION,"â‚¹60,000 a month"
10,Python Developer,Naman Staffing,not given
11,Full Stack Developer,ANS IT INDIA PVT LTD,"â‚¹15,000 - â‚¹20,000 a month"
12,"Senior Software Developer, Trilogy (Remote) - ...",Crossover,not given
13,Full Stack Developer,Netizens Technologies,"â‚¹20,000 - â‚¹45,000 a month"
14,Backend Developer,Themes Brand,not given